{% load static %}

<div class="row">
    <div class="col-md-4 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-0">Booking payable listing</h4>
                {% if booking_status %}
                    {% for obj in  booking_status %}
                        <div class="d-flex py-2 border-bottom">
                            <div class="wrapper">
                                <small class="text-muted">{{ obj.created_at }}</small>
                                <p class="font-weight-semibold text-gray mb-0">
                                    {% if obj.payment_type == 0 %} Bank {% elif obj.payment_type == 1 %}
                                        PAYPAL {% elif obj.payment_type == 2 %}
                                        MASTERCARD {% elif obj.payment_type == 3 %}
                                        BKASH {% elif obj.payment_type == 4 %} NOGOD {% elif obj.payment_type == 5 %}
                                        UPAY {% elif obj.payment_type == 6 %} CASH {% elif obj.payment_type == 6 %} DUE
                                    {% endif %}
                                </p>
                            </div>
                            {% if obj.transaction_id %}
                                <small class="text-muted ml-auto">{{ obj.transaction_id }}</small>
                            {% endif %}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-md-4 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between pb-3">
                    <h4 class="card-title mb-0">Activities</h4>
                    <p class="mb-0 text-muted">Booking short history</p>
                </div>
                <ul class="timeline">
                    {% if booking_status %}
                        {% for obj in booking_status %}
                            <li class="timeline-item">
                                <p class="timeline-content"><a href="javascript:void(0);">Booking
                                    Date: {{ obj.booking_date }}</a> {% if obj.status == 0 %}
                                    Pending  {% elif obj.status == 1 %}
                                    Failed {% elif obj.status == 2 %}  In progress {% else %}  Done {% endif %}</p>
                                <p class="event-time">{{ obj.get_rents }} || </p>
                                <p class="event-time">Total Days:{{ obj.total_day }}</p>
                            </li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-4 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-0">Rent general information</h4>
                <div class="table-responsive">
                    <table class="table table-stretched">
                        <thead>
                        <tr>
                            <th>Symbol</th>
                            <th>Last Price</th>
                            <th>Change</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <p class="mb-1 text-dark font-weight-medium">NFLX</p><small class="font-weight-medium">Netflix,
                                Inc.</small>
                            </td>
                            <td class="font-weight-medium">$250.00</td>
                            <td class="text-success font-weight-medium">+12.64</td>
                        </tr>
                        <tr>
                            <td>
                                <p class="mb-1 text-dark font-weight-medium">TSLA</p><small class="font-weight-medium">Tesla,
                                Inc.</small>
                            </td>
                            <td class="font-weight-medium">$458.00</td>
                            <td class="text-danger font-weight-medium">-14.53</td>
                        </tr>
                        <tr>
                            <td>
                                <p class="mb-1 text-dark font-weight-medium">GOOG</p><small class="font-weight-medium">Alphabet,
                                Inc.</small>
                            </td>
                            <td class="font-weight-medium">$250.00</td>
                            <td class="text-danger font-weight-medium">+12.64</td>
                        </tr>
                        <tr>
                            <td>
                                <p class="mb-1 text-dark font-weight-medium">AMZN</p><small class="font-weight-medium">Amazon.com,
                                Inc.</small>
                            </td>
                            <td class="font-weight-medium">$546.00</td>
                            <td class="text-success font-weight-medium">+24.34</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>