{% load static %}

<div class="row">
    <div class="col-md-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-2 col-md-6">
                        <div class="d-flex">
                            <div class="wrapper">
                                <h3 class="mb-0 font-weight-semibold">{{ booking.count }}</h3>
                                <h5 class="mb-0 font-weight-medium text-primary">Total Booking</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 mt-md-0 mt-4">
                        <div class="d-flex">
                            <div class="wrapper">
                                <h3 class="mb-0 font-weight-semibold">{{ users.count }}</h3>
                                <h5 class="mb-0 font-weight-medium text-primary">Total Customer</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 mt-md-0 mt-4">
                        <div class="d-flex">
                            <div class="wrapper">
                                <h3 class="mb-0 font-weight-semibold">{{ locations.count }}</h3>
                                <h5 class="mb-0 font-weight-medium text-primary">Total Place</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 mt-md-0 mt-4">
                        <div class="d-flex">
                            <div class="wrapper">
                                <h3 class="mb-0 font-weight-semibold">{{ rents.count }}</h3>
                                <h5 class="mb-0 font-weight-medium text-primary">Total Rent</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 mt-md-0 mt-4">
                        <div class="d-flex">
                            <div class="wrapper">
                                <h3 class="mb-0 font-weight-semibold">{{ cancel_booking.count }}</h3>
                                <h5 class="mb-0 font-weight-medium text-primary">Cancel Booking</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 mt-md-0 mt-4">
                        <div class="d-flex">
                            <div class="wrapper">
                                <h3 class="mb-0 font-weight-semibold">{{ pending_booking.count }}</h3>
                                <h5 class="mb-0 font-weight-medium text-primary">Pending Booking</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>