{% load static %}

<!-- Page Title Header Starts-->
<div class="row page-title-header">
    <div class="col-12">
        <div class="page-header">
            <h4 class="page-title">Dashboard</h4>
            <div class="quick-link-wrapper w-100 d-md-flex flex-md-wrap">
                <ul class="quick-links">
                    <li><a href="{% url 'profile_update' request.user.profile.pk %}">Update My Profile</a></li>
                    <li><a href="{% url 'my_booking_history' %}">My all booking history</a></li>
                    <li><a href="{% url 'home_page' %}">Search Rent</a></li>
                </ul>
                <ul class="quick-links ml-auto">
                    <li><a href="{% url 'rent_list' %}">List of rents</a></li>
                    <li><a href="{% url 'booking' %}">Booking</a></li>
                    <li><a href="">Change password</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Page Title Header Ends-->