{% load static %}

<!-- Page Title Header Starts-->
<div class="row page-title-header">
    <div class="col-12">
        <div class="page-header">
            <h4 class="page-title">Dashboard</h4>
            <div class="quick-link-wrapper w-100 d-md-flex flex-md-wrap">
                <ul class="quick-links">
                    <li><a href="#">Profile update</a></li>
                    <li><a href="#">{{ request.user.username }}</a></li>
                </ul>
                <ul class="quick-links ml-auto">
                    <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                    <li>{{ request.user.profile }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Page Title Header Ends-->