{% extends 'base.html' %}
{% load static %}

{% block title %} Change Password || Booking {% endblock %}


{% block content %}

    {% include 'location/pageTitle.html' %}
    {% include 'common/message.html' %}

    <div class="row">
        <div class="col-md-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <h4>{{ form.errors }}</h4>
                    <form class="forms-sample" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="old_password">Old Password</label>
                            <input type="password" class="form-control" id="old_password" name="old_password">
                        </div>
                        <div class="form-group">
                            <label for="id_new_password1">New password</label>
                            <input type="password" class="form-control" id="new_password1" name="new_password1">
                        </div>
                        <div class="form-group">
                            <label for="id_new_password2">Confirm password</label>
                            <input type="password" class="form-control" id="new_password2" name="new_password2">
                        </div>
                        <button type="submit" class="btn btn-success mr-2">Update</button>
                        <a href="{% url 'profile' %}" class="btn btn-light">Back</a>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
