{% extends 'auth.html' %}

{% block title %} User Registration || Booking {% endblock %}

{% block content %}
    {% if form.errors %}
        <p class="alert alert-danger" role="alert">Your username and password didn't match.Please try again.
        </p>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <div class="input-group">
                {{ form.username }}
                <div class="input-group-append">
                        <span class="input-group-text">
                          <i class="mdi mdi-check-circle-outline"></i>
                        </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
               {{ form.phone_number }}
                <div class="input-group-append">
                        <span class="input-group-text">
                          <i class="mdi mdi-check-circle-outline"></i>
                        </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
               {{ form.email }}
                <div class="input-group-append">
                        <span class="input-group-text">
                          <i class="mdi mdi-check-circle-outline"></i>
                        </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
               {{ form.password1 }}
                <div class="input-group-append">
                        <span class="input-group-text">
                          <i class="mdi mdi-check-circle-outline"></i>
                        </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                {{ form.password2 }}
                <div class="input-group-append">
                        <span class="input-group-text">
                          <i class="mdi mdi-check-circle-outline"></i>
                        </span>
                </div>
            </div>
        </div>
        <div class="form-group d-flex justify-content-center">
            <div class="form-check form-check-flat mt-0">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" checked> I agree to the terms </label>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary submit-btn btn-block">Register</button>
        </div>
        <div class="text-block text-center my-3">
            <span class="text-small font-weight-semibold">Already have and account ?</span>
            <a href="{% url 'login' %}" class="text-black text-small">Login</a>
        </div>
    </form>

{% endblock %}
