{% extends 'base.html' %}
{% load static %}

{% block title %} Location List || Booking {% endblock %}


{% block content %}

    {% include 'location/pageTitle.html' %}
    {% include 'common/message.html' %}

    <div class="row">
        <div class="col-md-12 grid-margin">
            <div class="card">
                {% if location %}
                    <div class="table-responsive">
                        <table class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th>Location Name</th>
                                <th>Parent</th>
                                <th>Status</th>
                                <th>Created Date</th>
                                <th>Icon</th>
                                <th class="text-center">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for obj in location %}
                                <tr>
                                    <td>{{ obj.name }}</td>
                                    <td>{% if obj.parent %} {{ obj.parent }} {% else %} -- {% endif %} </td>
                                    <td>{% if obj.is_active %}
                                        <span class="bg-success text-light p-1">Available</span> {% else %}
                                        <span class="bg-danger text-light p-1">Not Available</span> {% endif %}</td>
                                    <td>{{ obj.created_at }}</td>
                                    <td><i class="mdi mdi-map-marker"></i></td>
                                    <td class="text-center">
                                        <a title="Update the location" href="{% url 'location_update' obj.pk %}"><i
                                                class="mdi mdi-pencil"></i></a>
                                        <a title="Delete the location" href="{% url 'location_delete' obj.pk %}"><i
                                                class="mdi mdi-trash-can"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
