{% extends 'base.html' %}
{% load static %}

{% block title %} Location Create || Booking {% endblock %}


{% block content %}

    {% include 'location/pageTitle.html' %}
    {% include 'common/message.html' %}

    <div class="row">
        <div class="col-md-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <form class="forms-sample" method="POST", enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="name">Enter valid location name</label>
                            {{ form.name }}
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Select sub location if needed</label>
                            {{ form.parent }}
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Upload location image (Optional)</label>
                            {{ form.image }}
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">If not currently available please uncheck</label>
                            <div class="form-check form-check-flat">
                              <label class="form-check-label">
                                {{ form.is_active }} Checked </label>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success mr-2">Submit</button>
                        <a href="{% url 'location_listview' %}" class="btn btn-light">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
