{% extends 'front.html' %}

{% block title %} Search your rent || Booking {% endblock %}


{% block content %}
    <div class="container mt-5">
        <div class="row mt-5">
            <div class="col-md-12 text-center">
                <div class="card mt-5">
                    <div class="card-header">
                        <h4 class="card-title">Booking Your Rent</h4>
                    </div>
                    <div class="card-body">
                        <form method="get" action="rent-list">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input name="name" type="text" class="form-control" placeholder="Search Rent"/>
                                    </div>
                                    <div class="form-group">
                                        <select name="types" id="types" class="form-control">
                                            <option value="Select">Select Type</option>
                                            <option value="0">FLAT</option>
                                            <option value="1">ROOM</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input name="bed_room" type="number" class="form-control"
                                               placeholder="Number of bed room"/>
                                    </div>
                                    <div class="form-group">
                                        <select name="name" id="location" class="form-control">
                                            <option value="Select">Select Rent</option>
                                            {% if location %}
                                                {% for obj in location %}
                                                    <option value="{{ obj.id }}">{{ obj.name }}</option>
                                                {% endfor %}
                                            {% endif %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-dark btn-fw" type="submit"><i class="mdi mdi-search-web"></i> Search
                                your
                                favorite places
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
