{% extends 'front.html' %}


{% block title %} Rent list page || Booking {% endblock %}

{% block content %}

    <div class="container mt-5">
        <div class="row mt-5">
            <div class="col-md-12 text-center">
                <div class="card mt-5">
                    <div class="card-header">
                        <h4 class="card-title">Rent list page</h4>
                    </div>
                    <div class="card-body">
                        <ul class="list-group-item">
                            {% if rent %}
                                {% for obj in rent %}
                                    <li class="list-group-item">{{ obj.name }}</li>
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
