{% extends 'front.html' %}


{% block title %} {{ rent.name }} details || Booking {% endblock %}

{% block content %}

    <style type="text/css">
        .rent_image img {
            width: 100%;
        }

        .rent_gallery {
            width: 50px !important;
            height: 50px !important;
            border-radius: 50% !important;
        }
    </style>

    <div class="container mt-5">
        <div class="row mt-3">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">{{ rent.name }}</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-7 rent_image">
                                <a href="{{ rent.image.url }}" data-lightbox="roadtrip">
                                    <img src="{{ rent.image.url }}" alt="{{ obj.name }}">
                                </a>
                                {% if rent.gallery_image.url %}
                                    <a href="{{ rent.gallery_image.url }}" data-lightbox="roadtrip">
                                        <img class="rent_gallery" src="{{ rent.gallery_image.url }}" alt="">
                                    </a>
                                {% endif %}
                                {% if rent.gallery_image.url %}
                                    <a href="{{ rent.gallery_image.url }}" data-lightbox="roadtrip">
                                        <img class="rent_gallery"
                                             src="{{ rent.gallery_image.url }}" alt="">
                                    </a>
                                {% endif %}
                                {% if rent.gallery_image1.url %}
                                    <a href="{{ rent.gallery_image1.url }}" data-lightbox="roadtrip">
                                        <img class="rent_gallery" src="{{ rent.gallery_image1.url }}" alt="">
                                    </a>
                                {% endif %}
                                {% if rent.gallery_image2.url %}
                                    <a href="{{ rent.gallery_image2.url }}" data-lightbox="roadtrip">
                                        <img class="rent_gallery" src="{{ rent.gallery_image2.url }}" alt="">
                                    </a>
                                {% endif %}
                                {% if rent.gallery_image3.url %}
                                    <a href="{{ rent.gallery_image3.url }}" data-lightbox="roadtrip">
                                        <img class="rent_gallery" src="{{ rent.gallery_image3.url }}" alt="">
                                    </a>
                                {% endif %}
                            </div>
                            <div class="col-md-5">
                                <ul class="list-group">
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        Regular Price
                                        <span class="badge badge-primary badge-pill">{{ rent.price }}</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        Discount Price
                                        <span class="badge badge-primary badge-pill">{{ rent.discount_price }}</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        Location
                                        <span>{{ rent.rent_location }}</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        Rent Type
                                        <span>{{ rent.types }}</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        Bed Rooms
                                        <span>{{ rent.bed_room }}</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        Bath Rooms
                                        <span>{{ rent.bath_room }}</span>
                                    </li>

                                    <li class="list-group-item">
                                        {{ rent.descriptions }}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
