{% extends 'front.html' %}


{% block title %} Rent list page || Booking {% endblock %}

{% block content %}

    <style type="text/css">
        .card-body img {
            width: 100%;
            height: 200px;
        }
    </style>

    <div class="container">
        <div class="row mt-3">
            {% if rent %}
                {% for obj in rent %}
                    <div class="col-md-4">
                        <div class="card mt-3">
                            <div class="card-body">
                                <img src="{{ obj.image.url }}" alt="{{ obj.name }}">
                                <ul class="list-group-item">
                                    <li class="list-group-item">{{ obj.name }}</li>
                                    <li class="list-group-item">Regular Price: {{ obj.price }}</li>
                                    <li class="list-group-item">Location: {{ obj.rent_location }}</li>
                                </ul>
                            </div>
                            <div class="card-footer text-center">
                                <a class="btn btn-success" href="/">View Details</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

{% endblock %}
